.chatwindow{
    
    display:flex;
    flex-direction:column;
    
    height:100%;
    background-color:#212121 ;
    width:100%;
    
}
.chatinput{
    width:100%;
    margin-top: auto;
    padding-bottom:20px;
    
    
}
@media (min-width:768px){

    .chatinput{
        width:70%;
        margin-left: auto;
        margin-right: auto;
    }
    

}

.Loader{
    display:flex;
    justify-content:center;
    align-items:center;
    flex:1;
    
}
.chats{
    
    padding-left: 10px;
    padding-right: 10px;
    overflow-y:auto;
    scrollbar-width:none;
    
}

