.sidebar{
    width:260px;
    height:100vh;
    background:black;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

/* Top section */
.sidebar-top{
    padding: 15px;
    display:flex;
    justify-content:space-between;
    
}
.cross{
    
    margin-top: 4px;
    cursor:pointer;
    font-size:30px;
    padding: 6px;
    
    

}
.cross:hover{
    background-color: #2a2b32;
    border-radius: 12px;
}


.logo{
    width:40px;
    margin-bottom:20px;
}

/* New chat button */
.newChat{
    width:240px;
    padding:10px;
    background:transparent;
    border:0px;
    color:white;
    border-radius:12px;
    display:flex;
    gap:10px;
    align-items:center;
    cursor:pointer;
    margin-left:10px;
    margin-right:10px;
    font-size:15px;
}
.edit{
    font-size: 20px;
}

.newChat:hover{
    background:#2a2b32;
}

/* Chat history */
.history{
    flex:1;
    overflow-y:auto;
    padding:15px;
    font-size: 15px;
    scrollbar-width:none;
}

.history div{
    padding:10px;
    border-radius:12px;
    cursor:pointer;
    display: flex;              
    justify-content: space-between;  
    align-items: center;
}

.history div:hover{
    background:#2a2b32;
}
.highlight{
    background:#191919;

}

/* Bottom section */
.sidebar-bottom{
    padding:15px;
    border-top:1px solid #444;
}

.deleteButton{
    opacity: 0;
    font-size: 20px;
    
}
.history div:hover .deleteButton{
    opacity:1;
    color:white ;
}
.deleteButton:hover{
    color: rgb(212, 65, 65) !important;
}